* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 234, 234);
}

.flex {
  display: flex;
}

.link {
  width: 126px;
  border: 1px solid #6070ff;
  background-color: #fff;
  font-size: 17px;
  font-weight: 500;
  color: rgba(57, 109, 242, 1);
  text-align: center;
  height: 48px;
  box-sizing: border-box;
  border-radius: 8px;
  gap: 10px;
  padding: 12px;
  margin: 32px 16px 16px 16px;
  justify-content: center;
  align-items: center;
}

/* start header part */

.header {
  height: 50px;
  background-image: url(Media/header-background-mobile.png.jpg);
  background-size: cover;
  background-color: white;
  padding: 1 24px;
  justify-content: space-between;
}

.header .Left_side {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.social-icon a {
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 40px;
  color: #333;
}

.header .Left_side a {
  text-decoration: none;
}

.header .Left_side .logo {
  font-size: 18px;
  font-weight: 700;
  padding: 8px;
  color: #6070ff;
  margin-left: 5px;
}

.header .Right_side {
  width: 50%;
  height: 100%;
  flex-direction: row;
  align-content: end;
}

.header .Right_side div.bar {
  flex-direction: column;
  align-items: end;
  padding: 12px;
  color: #6070ff;
  font-size: large;
}

/* end of header part */

/* start container part */

.container {
  height: 90vh;
  background-image: url(Media/header-shapes\ mobile.png.jpg);
  background-size: cover;
  border-bottom-left-radius: 60px;
  background-color: white;
}

.container .me {
  width: 327px;
  height: 200px;
  font-weight: 700;
  font-size: 40px;
  padding: 90px 12px 170px;
  line-height: 52px;
  color: rgb(23, 43, 77);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.container .me h1 {
  font-size: 40px;
}

.container .desc {
  width: 327px;
  height: 146px;
  left: 0;
  top: 0;
  padding: 85px 12px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.container .lets_contact {
  width: 147px;
  height: 24px;
  margin-top: 90px;
  padding-left: 12px;
}

.container .lets_contact .contact {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social_media {
  padding: 0;
  display: flex;
}

.social-icons-set {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  list-style: none;
  margin: 10px;
}

.social-icon a:hover {
  color: #6070ff;
}

.social-icon a i {
  font-size: 20px;
}

.social-icon + .social-icon {
  margin-left: 10px;
}

/* coming soon */

/* Start middl section  */

.work_section {
  display: grid;
}

.middle_section {
  display: flex;
  flex-direction: column;
  margin: 100px 16px 20px 16px;
  border-radius: 15px;
  background-color: white;
  padding-bottom: 20px;
}

.middle_section div.pic {
  margin: 20px auto;
  padding: 16px 16px 0 16px;
  gap: 20px;
  width: 100%;
}

div.pic img {
  width: 100%;
}

.middle_section div.name {
  width: 295px;
  height: 40px;
  margin: 5px 20px;
}

.middle_section div.name h2 {
  font-weight: 700;
  font-size: 32px;
  color: rgb(23, 43, 77);
  line-height: 44px;
}

.middle_section div.descript {
  width: 295px;
  height: 30px;
  margin: 5px 20px;
}

.middle_section div.descript div.camp {
  width: 55px;
  height: 16px;
  line-height: 16px;
  font-size: 13px;
  font-weight: 600;
  padding-top: 8px;
  color: #344563;
}

.middle_section div.descript div.year {
  width: 70%;
  color: #7a869a;
  font-size: 13px;
  padding-top: 6px;
}

.middle_section div.descript div.year ul.list {
  justify-content: start;
}

.middle_section div.descript div.year ul.list li {
  margin: 0 15px;
}

.middle_section div.task {
  margin: 5px 20px;
}

.middle_section div.task p {
  color: #344563;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.middle_section div.web {
  width: 295px;
  height: 24px;
  padding: 12px;
}

.middle_section div.web div.right {
  width: 80%;
  justify-content: center;
}

.middle_section div.web div.right ul {
  list-style-type: none;
  justify-content: space-around;
  display: flex;
  width: 100%;
}

.middle_section div.link a {
  text-decoration: none;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  padding: 12px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  font-style: normal;
}

section.about div.link a {
  text-decoration: none;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  height: 24px;
  width: 138px;
  border-radius: 8px;
}

.middle_section div.link a:hover {
  background-color: #6070ff;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

section.about div.link a:hover {
  background-color: #6070ff;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.middle_section div.web div.right ul a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 12px;
  background-color: #ebebff;
  border-radius: 5px;
  color: #6070ff;
}

.middle_section div.web div.right div.front {
  background-color: #ebebff;
  border-radius: 5px;
  margin: 0 10px;
  padding-bottom: 5px;
}

.middle_section div.web div.right div.front a {
  text-decoration: none;
  color: #6070ff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: 0 10px;
}

.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 32%;
  height: 24px;
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  margin-left: 12px;
  margin-right: 8px;
  letter-spacing: 0.48px;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 30%;
  height: 24px;
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  margin-right: 8px;
  letter-spacing: 0.48px;
}

.JavaScript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 50%;
  height: 24px;
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  margin-right: 8px;
  letter-spacing: 0.48px;
}

.middle_section div.link {
  width: 126px;
  height: 48px;
  margin: 0 20px;

  /* comment */
  border: 1px solid #7f8cff;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  border-radius: 8px;
  text-align: center;
}

.link:hover {
  background-color: #6070ff;
  color: #fff;
}

.link:active {
  background-color: #2230d2;
  color: #fff;
}

/* End middle part  */

/* Start About Yourself Section  */

section.about {
  height: 1263px;
  width: 100%;
  padding: 114px 24px 0 24px;
  background-color: white;
  margin-top: 100px;
  border-top-right-radius: 60px;
  display: flex;
  flex-direction: column;
}

section.about div.am h2 {
  font-weight: 700;
  font-size: 40px;
  color: rgb(23, 43, 77);
  margin-top: 60px;
}

section.about div.disc {
  margin-bottom: 10px;
}

section.about div.disc p {
  font-size: 16px;
  font-weight: 400;
  color: #344563;
}

section.about div.lets_contact {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

section.about div.link {
  width: 162px;
  height: 48px;

  /* comment */
  border: 1px solid #7f8cff;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 12px;
  margin-left: 0.1rem;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

section.about div.select {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.about div.select ul.lang {
  list-style-type: none;
  height: 100px;
  width: 100%;
}

section.about div.select ul.lang li.lang div.lang,
div.framework,
div.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 20px;
}

section.about div.select ul.lang li.lang div.framework {
  font-size: 20px;
  font-weight: 500;
}

section.about div.select ul.lang li.lang div.skill {
  padding: 15px 0 20px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

section.about div.select ul.lang li.lang h2 {
  font-size: 20px;
  font-weight: 500;
}

section.about div.select ul.lang li.lang i {
  margin-right: 15px;
}

section.about div.select ul.lang div.contain {
  height: auto;
  width: 327px;
  margin-top: 20px;
  padding-bottom: 12px;
  margin-bottom: 5px;
  gap: 12px;
}

section.about div.select ul.lang div.contain ul li.con {
  background-color: #f7f7f9;
  margin: 12px 12px 12px 1px;
  display: flex;
  align-items: center;
}

section.about div.select ul.lang div.contain ul li.con img {
  /* comment */
  margin: 0 20px 5px 10px;
}
